body { 
	padding-bottom: 160px; 
	padding-top: 150px; 
}

#emailButton {
	min-width: 90px;
}

#mailButton {
	min-width: 90px;
}

#emailAddress { 
	margin-top: 10px;
}

#emailToggle{
	display: inline-block;
}

#send
{
	background-color: white; 
	color: black;
	border: none;
	margin-bottom: 10px;
}

#mailForm{
	display: none;
}

#receiverName{
	margin-bottom: 10px;
	margin-top: 10px;
}

#info {
	border-radius: 24px;
	background-color: rgb(191,46,27);
	border: none;
	margin-right: 10px;
	margin-top: 10px;
}

.title{
	color: white;
}

.btn-group{
	display: inline-block;
}

.navbar { 
	background-color: rgb(191,46,27);
	text-align: center;
}

.navbar .navbar-nav { 
	display: inline-block;
  	float: none;
  	vertical-align: top;
}

.navbar-fixed-bottom 
{
	text-align: center;
}

.documentSelect
{
   margin-right:0;
   float:right;
}

.panel-heading{
	background-color: rgb(222,222,222);
	font-weight:bold;
}

.eye{
	max-width:30px;
	max-height:30px;
	height:8%;
	width:8%;
	margin-left:-10px;
	padding-right:6px;
	padding-bottom:1px;
	z-index:1;
}