body { padding-bottom: 120px; }

#emailAddress { 
	margin-top: 10px;
}

#emailToggle{
	display: inline-block;
}

#send
{
	background-color: white; 
	color: black;
	border: none;
	margin-bottom: 10px;
}

#mailForm{
	display: none;
}

#receiverName{
	margin-bottom: 10px;
	margin-top: 10px;
}

#info {
	border-radius: 24px;
	background-color: rgb(222,0,100);
	border: none;
	margin-right: 10px;
	margin-top: 10px;
}

.title{
	color: white;
}

.btn-group{
	display: inline-block;
}

.navbar { 
	background-color: rgb(222,0,100);
	text-align: center;
}

.navbar .navbar-nav { 
	display: inline-block;
  	float: none;
  	vertical-align: top;
}

.navbar-fixed-bottom 
{
	text-align: center;
}

.documentSelect
{
   margin-right:0;
   float:right;
}
